
$coreui-alert__animation-duration: .15s !default;

$coreui-alert__border-success:  #9ccc65 !default;
$coreui-alert__border-info:     #81d4fa !default;
$coreui-alert__border-danger:   #e57373 !default;
$coreui-alert__border-warning:  #ffa726 !default;

$coreui-alert__title-success:  #198754 !default;
$coreui-alert__title-info:     #0288d1 !default;
$coreui-alert__title-danger:   #e57373 !default;
$coreui-alert__title-warning:  #ef6c00 !default;

$coreui-alert__close-hover:  #f27474 !default;

$coreui-alert__title-fs:   1.5rem !default;
$coreui-alert__message-fs: 1rem !default;